{% extends 'core/base.html' %}
{% block title %}
Search |
{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                        <h1> Search Results</h1>
                        <h3> Query  "{{query}}"</h3>
                        </div>
                        {% for post in posts %}
                        <a href="{% url 'post_detail' post.category.slug post.slug %}">
                            <div class="content is-medium">
                                <h2 class="subtitle is-4"> {{post.created_at|date:'m/d/y h:i'}}</h2>
                                <h2 class="subtitle is-7"> {{post.created_at|timesince}} ago</h2>
                                <h1 class="title">{{post.title}}</h1>
                                <p>{{post.intro}}</p>
                            </div>
                        </a>
                        {% empty%}
                        <div class="content is-medium">
                            <p> No results for given query...</p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}